@mixin title {
  font-family: $serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $blue;
}

@mixin image {
  width: 100%;
  height: auto;
  display: block;
}

@mixin link {
  font-family: $sans-serif;
  font-size: 2.2rem;
  color: $blue;
  text-decoration: underline;
  padding-right: 40px;
  background-image: url("../../../assets/images/arrow_right.svg");
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 95% center;
  transition: all 0.3s linear;

  &:hover {
    background-position: 100% center;
  }

  @include breakpoint(for-tablet-landscape-up) {
    font-size: 2.7rem;
  }

  @include breakpoint(for-desktop-up) {
    font-size: 3.1rem;
  }
}

@mixin breakpoint($point) {
  @if $point == for-phone-xs-only {
    @media (max-width: 360px) { @content; }
  }
  @else if $point == for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @else if $point == for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @else if $point == for-desktop-up {
    @media (min-width: 1200px)  { @content; }
  }
  @else if $point == for-medium-desktop-up {
    @media (min-width: 1500px)  { @content; }
  }
  @else if $point == for-big-desktop-up {
    @media (min-width: 1800px)  { @content; }
  }
}
