@mixin title {
  font-family: $serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $blue;
}

@mixin image {
  width: 100%;
  height: auto;
  display: block;
}

@mixin link {
  font-family: $sans-serif;
  font-size: 3.1rem;
  color: $blue;
  text-decoration: underline;
}


