.agenda__header {
  h2 {
    @include title;

    margin-bottom: 40px;
  }
}

.agenda__event {
  width: 100%;
  height: auto;
  border-radius: 20px;
  position: relative;
  font-family: $serif;
  font-size: 3.508rem;
  color: $color-white;
  font-weight: bold;

  &--date {
    display: block;
    border-radius: 20px;
    position: absolute;
    padding: 1px 15px 0;
    height: 50px;
    line-height: 50px;
    background-color: green;
    top: 10px;
    left: 10px;
  }

  &--title {
    @include title;

    font-family: $serif;
    font-size: 3.508rem;
    color: $color-white;
    margin-bottom: 0;
    text-shadow: 5px 2px 4px rgba(150, 150, 150, 1);
  }

  &--subtitle {
    font-size: 2.091rem;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
  }

  &--text {
    position: absolute;
    left: 18px;
    bottom: 18px;
  }
}

.agenda__event--img {
  margin: 0;

  img {
    border-radius: 20px;

    @include image;
  }
}

.slider {
  position: relative;

  .slick-slide {
    padding: 0 10px;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

