.blocks {
  width: 100%;

  @include breakpoint(for-tablet-landscape-up) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .block {
    width: 100%;
    min-height: 500px;

    @include breakpoint(for-tablet-landscape-up) {
      max-width: 50%;
      flex: 0 0 50%;
      position: relative;
      min-height: 0;
    }
  }

  .block__figure {
    margin: 0;
  }

  .block__link {
    font-weight: bold;
    font-family: $sans-serif;
    text-decoration: underline;
    font-size: 2.4rem;
  }

  .block__text--blue {
    * {
      color: $blue !important;
    }
  }

  .block__text--white {
    * {
      color: $white !important;
    }
  }

  .block__type--text {
    .block__content {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding: 10%;

      @include breakpoint(for-desktop-up) {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      @include breakpoint(for-big-desktop-up) {
        position: relative;
        padding: 15%;
      }
    }

    &::after {
      display: none;

      @include breakpoint(for-desktop-up) {
        content: '';
        display: block;
        padding-bottom: 100%;
      }

      @include breakpoint(for-big-desktop-up) {
        display: none;
      }
    }

    .block__subtitle {
      font-size: 3.2rem;
      line-height: 1.2;
      text-transform: uppercase;
      font-family: $sans-serif;
      font-weight: bold;
      margin: 0 0 30px;

      @include breakpoint(for-desktop-up) {
        font-size: 4.2rem;
      }

      @include breakpoint(for-medium-desktop-up) {
        font-size: 5.2rem;
      }
    }

    .block__header {
      display: flex;
      align-items: flex-start;
      margin: 0 0 30px;
      flex-direction: column;

      @include breakpoint(for-tablet-portrait-up) {
        flex-direction: row;
        align-items: center;
      }

      &--title {
        margin: 0;
        text-transform: none;
        font-family: $sans-serif;
        font-size: 3.5rem;

        span {
          color: $red !important;
        }

        @include breakpoint(for-desktop-up) {
          font-size: 4.5rem;
        }

        @include breakpoint(for-medium-desktop-up) {
          font-size: 5.5rem;
        }
      }
    }

    .block__figure {
      margin-bottom: 30px;

      @include breakpoint(for-tablet-portrait-up) {
        flex: 0 0 115px;
        margin-bottom: 0;
      }

      .block__image {
        border-radius: 50%;
        margin-right: 35px;
        width: 115px;
        height: auto;
      }
    }
  }

  .block__type--img {
    background-size: cover;
    background-position: center center;

    .block__figure {
      width: 100%;

      .block__image {
        width: 100%;
        height: auto;
      }
    }
  }
}
