.page-template-template-content {
  .main {
    font-size: 2.2rem;

    @include breakpoint(for-tablet-landscape-up) {
      font-size: 2.4rem;
    }

    @include breakpoint(for-medium-desktop-up) {
      font-size: 2.6rem;
    }
  }

  .intro {
    padding: 0 0 60px;

    h1 {
      font-family: $sans-serif;
      text-transform: none;
      font-size: 4.9rem;
      line-height: 1.1;

      @include breakpoint(for-phone-xs-only) {
        font-size: 3.9rem;
      }

      @include breakpoint(for-tablet-landscape-up) {
        font-size: 5.9rem;
      }

      @include breakpoint(for-medium-desktop-up) {
        font-size: 6.9rem;
      }
    }

    p,
    li {
      line-height: 1.5;
      font-weight: bold;
      font-size: 2.2rem;

      @include breakpoint(for-tablet-landscape-up) {
        font-size: 2.4rem;
      }

      @include breakpoint(for-medium-desktop-up) {
        font-size: 2.6rem;
      }
    }

    p {
      a {
        text-decoration: underline;

        &:hover {
          color: $red;
        }
      }
    }
  }

  .content__rows {
    padding-bottom: 100px;

    * {
      color: $blue;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 3.2rem;
      font-family: $sans-serif;
      text-transform: none;
      margin-bottom: 0.5em;

      @include breakpoint(for-tablet-landscape-up) {
        font-size: 3.7rem;
      }

      @include breakpoint(for-medium-desktop-up) {
        font-size: 4.3rem;
      }
    }

    .article__content {
      margin-bottom: 60px;

      &--link {
        float: right;
        text-decoration: underline;
        transition: color 0.3s ease;

        &:hover {
          color: $red;
        }
      }
    }

    .article__image--container {
      margin-bottom: 60px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
