//sticky footer
.content.mm-page {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */

  .banner,
  .footer {
    flex: none; /* 2 */
  }

  .main {
    flex: 1 0 auto; /* 2 */
    width: 100%;
  }
  .main::after {
    content: '\00a0'; /* &nbsp; */
    display: block;
    height: 0px;
    visibility: hidden;
  }
}

// end sticky footer
.footer {
  padding: 60px 0;
  background: $red;

  @include breakpoint(for-tablet-landscape-up) {
    padding: 100px 0;
  }

  * {
    color: $white;
  }

  .footer-sitemap {
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include breakpoint(for-tablet-portrait-up) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
      }
    }
  }

  img {
    border-radius: 5px;
    display: block;
  }

  p {
    margin-bottom: 20px;
  }

  h5 {
    font-size: 2rem;
    margin-bottom: 0.8em;
    text-transform: uppercase;
    font-family: $serif;
    font-weight: bold;

    @include breakpoint(for-desktop-up) {
      font-size: 2.45rem;
    }
  }

  ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;

    li {
      line-height: 1.3;
      margin-bottom: 8px;
    }
  }

  .widget {
    align-items: flex-start;
    flex-basis: auto;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.8rem;

    @include breakpoint(for-tablet-portrait-up) {
      font-size: 2.45rem;
      flex: 1 1 400px;
    }

    @include breakpoint(for-tablet-landscape-up) {
      text-align: left;
    }

    @include breakpoint(for-desktop-up) {
      font-size: 2rem;
      flex: 0 1 280px;
    }

    @include breakpoint(for-medium-desktop-up) {
      font-size: 2.45rem;
    }

    a {
      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    &:last-child {
      margin-bottom: 0;

      p {
        a {
          text-decoration: underline;
        }
      }
    }
  }

  .social {
    margin-top: 20px;

    li {
      display: inline-block;
      padding: 0 10px 0 0;

      a {
        display: block;
      }
    }

    svg {
      display: block;
      width: 36px;
      height: 36px;

      @include breakpoint(for-desktop-up) {
        width: 40px;
        height: 40px;
      }

      @include breakpoint(for-medium-desktop-up) {
        width: 45px;
        height: 45px;
      }

      circle,
      path,
      rect {
        transition: fill 0.3s linear;
      }

      &:hover {
        circle {
          fill: $blue;
        }

        path {
          fill: $white;
        }

        rect {
          fill: $white;
        }
      }
    }
  }
}
