.home {
  .intro {
    color: $color-blue;
    margin: -170px auto 0;
    padding: 140px 0;
    background: #fff;
    position: relative;
    z-index: 2;

    .container {
      max-width: 980px;
      width: 100%;
    }

    .intro__article--content {
      font-size: 3.1rem;
      line-height: 1.32;
      font-weight: normal;
    }
  }
}

.banner__visual--figure {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}