.home {
  .intro {
    color: $blue;
    margin: 0 auto;
    padding: 140px 0;
    background: #fff;
    position: relative;
    z-index: 2;

    .center {
      max-width: 980px;
      width: 100%;
    }

    .intro__article--header {
      h2 {

      }
    }

    .intro__article--content {
      font-size: 3.1rem;
      line-height: 1.32;
      font-weight: normal;
    }
  }
}

.banner__visual--figure {
  margin-bottom: 65px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}