.site-id-2 {
  .header-visual {
    display: none;
  }

  .main {
    &::before {
      display: none;
    }
  }

  .nav-top__menu {
    visibility: hidden;
    opacity: 0;
  }

  .banner {
    .logo {
      font-family: $sans-serif;
      font-size: 1.6rem;
      font-weight: bold;
      color: $red;
      top: 80px;
      bottom: auto;

      @include breakpoint(for-tablet-portrait-up) {
        font-size: 2rem;
        top: 81px;
      }

      @include breakpoint(for-desktop-up) {
        font-size: 2.69rem;
        top: 76px;
      }
    }
  }

  .nav-primary {
    .menu-item {
      font-family: $sans-serif;
      text-transform: uppercase;
      font-size: 1.854rem;
    }
  }

  .intro {
    margin-top: 60px;

    @include breakpoint(for-desktop-up) {
      margin-top: 100px;
    }
  }

  .footer {
    padding: 45px 0 40px;
    background: $white;
  }

  .employee__section {
    .employee__wrapper {
      .employee {
        @include breakpoint(for-desktop-up) {
          margin-right: 3.33%;
          width: 31.1%;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}

.site-id-2.template-contact {
  .page {
    .entry-title {
      color: $red;
    }
  }
}
