.tabs {
  width: 100%;
  display: inline-block;
  background-color: $blue;
  padding: 100px;
}

.tab-links {
  text-align: center;

  &::after {
    display: block;
    clear: both;
    content: '';
  }

  li {
    margin: 0 50px;
    display: inline-block;
    list-style: none;
  }

  a {
    padding: 9px 15px;
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    font-family: $sans-serif;
    color: $white;
    transition: all linear 0.15s;

    &:hover {
      text-decoration: underline;
    }
  }

  li.active a,
  li.active a:hover {
    transform: scale(1.3);
    text-decoration: underline;
  }
}

.tab-content {
  padding: 15px;
  color: $white;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}
