html {
  font-size: 62.5%;
}

body {
  font-family: $sans-serif;
  font-size: 1.6rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.main {
  font-size: 1.8rem;

  @include breakpoint(for-tablet-portrait-up) {
    font-size: 2rem;
  }

  @include breakpoint(for-medium-desktop-up) {
    font-size: 2.2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title;
}

h1,
h2 {
  font-size: 3.68rem;
  margin-bottom: 0.7em;

  @include breakpoint(for-phone-xs-only) {
    font-size: 2.68rem;
  }

  @include breakpoint(for-tablet-portrait-up) {
    font-size: 4.68rem;
  }

  @include breakpoint(for-tablet-landscape-up) {
    font-size: 5.68rem;
  }

  @include breakpoint(for-medium-desktop-up) {
    font-size: 6.68rem;
  }
}

h3,
h4,
h5,
h6 {
  font-family: $sans-serif, sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: none;
}

h3 {
  font-size: 2.8rem;

  @include breakpoint(for-tablet-portrait-up) {
    font-size: 3rem;
  }

  @include breakpoint(for-medium-desktop-up) {
    font-size: 3.4rem;
  }
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.45rem;
}

h6 {
  font-size: 2rem;
}



