/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** colors */
$blue: #5bc2e7;
$white: #fff;
$red: #f23030;
$gray: #eaeaea;
$blackLight: #1d1d1b;



/** typography */
$sans-serif: 'Karla', sans-serif;
$serif: 'Arvo', serif;

/** font weights */
$normal: 400;
$bold: 700;

/** border radius */
$border-radius: 20px;